
<!-- ng-template  ngFor let-playlist [ngForOf]="playlists" -->
<!-- [ngStyle]="{borderLeftColor:playlist.color}" -->



<!-- (mouseenter)=" hover = playlist "
(mouseleave)=" hover = null "
[style.borderLeftColor]="hover == playlist? playlist.color : 'inherit '" -->

<div class="list-group">
  <div *ngFor="let playlist of playlists; let i = index" class="list-group-item"
  (click)="select(playlist)"
  
  [highlight]="playlist.color"
  
  [class.active]="selected == playlist">
    {{i + 1}}. {{ playlist.name }}
  </div>
</div>