<ng-container [ngSwitch]="mode">






  <form *ngSwitchCase=" 'edit'" #playlistForm="ngForm"
    (ngSubmit)="save(playlistForm)">

    <div class="form-group">
      <label>Name</label>
      <input type="text" 
      ngModel 
      #nameRef="ngModel"
      required
      name="name" value="playlist.name" class="form-control">
    </div>
    <div *ngIf="nameRef.invalid">
      Invalid name
    </div>

    <div class="form-group">
      <label>Favourite</label>
      <input type="checkbox" ngModel name="favourite">
    </div>

    <div class="form-group">
      <label>Color</label>
      <input type="text" 
      validateColor="param!"
      #colorRef="ngModel"
      ngModel name="color">
    </div>
    <div *ngIf="colorRef.invalid">
      Invalid color
    </div>

    <button class="btn" (click)="cancel()">Cancel</button>
    <button class="btn" type="submit">Save</button>
  </form>

  <div *ngSwitchDefault>

    <div class="form-group">
      <label>Name</label>
      <div class="form-control-plaintext">
        {{ playlist.name }}
      </div>
    </div>

    <div class="form-group">
      <label>Favourite</label>
      <div class="form-control-plaintext">
        {{ playlist.favourite ? 'Yes' : 'Nope' }}
      </div>
    </div>

    <div class="form-group">
      <label>Color</label>
      <div [style.color]="playlist.color" class="form-control-plaintext">
        {{ playlist.color }}
      </div>
    </div>
    <button class="btn" (click)="edit()">Edit</button>
  </div>

</ng-container>
