<!-- .row>.col*2 -->

<div class="row">
  <div class="col">

    <items-list 
      
      [selected]="selected | async"

      (selectedChange)="select($event)" 
      
      [playlists]="playlists | async">
    </items-list>
  </div>

  <div class="col">

     <router-outlet></router-outlet>

  </div>
</div>