<!-- https://getbootstrap.com/docs/4.0/components/navbar/#nav -->


<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="">Music App</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link"
          routerLinkActive="active my-class" routerLink="playlists">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
          routerLinkActive="active my-class" routerLink="music">Search music!</a>
        </li>

      </ul>
    </div>
  </div>
</nav>




<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>