<div class="row">
  <div class="col">
    <search-form (queryChange)="search($event)"></search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <albums-list></albums-list>
  </div>
  <!-- <div class="col">
    <button (click)="hide = !hide">Toggle</button>

    <albums-list *ngIf="!hide"></albums-list>
  </div> -->
</div>