<div class="mb-4">

  <form [formGroup]="queryForm" class="input-group">

    <input type="text" formControlName="query" class="form-control" placeholder="Search for...">

  </form>
  
  <div *ngIf="queryForm.pending">
    Please wait ... 
  </div>
  
  <ng-container *ngIf="queryForm.get('query').touched || queryForm.get('query').dirty">

    <div *ngIf="queryForm.hasError('required','query')">
      Field is required
    </div>
    <div *ngIf="queryForm.get('query').getError('minlength') as error">
      Must have at least {{error.requiredLength}} letters
    </div>
    <div *ngIf="queryForm.get('query').getError('censor') as error">
      Must not be "{{error}}"
    </div>
  </ng-container>

</div>